<jhi-app-header1 *ngIf="isAuthenticated()"></jhi-app-header1>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)" *ngIf="isAuthenticated()">
    <jhi-app-sidebar [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></jhi-app-sidebar>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- <cui-breadcrumb *ngIf="isAuthenticated()">
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
      </li>
    </cui-breadcrumb> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<jhi-app-footer></jhi-app-footer>